
  codeql-java-kotlin:
    name: CodeQL (Java and Kotlin)
    uses: ./.github/workflows/codeql.yml
    permissions:
      contents: read
      security-events: write
    with:
      language: java-kotlin
      build-mode: autobuild
      pin: .java-version
