{
  "$schema": "https://unpkg.com/@changesets/config@4/schema.json",
  "access": "public",
  "baseBranch": "main",
  "changelog": ["@changesets/changelog-github", { "repo": "{{% .Answers.Repository %}}" }],
  "commit": false,
  "fixed": [],
  "ignore": [],
  "linked": [],
  "privatePackages": { "tag": false, "version": false },
  "updateInternalDependencies": "patch"
}
